# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/*

# templated source file
include/cspear/core/array.h
include/cspear/core/array-op.h
include/cspear/core/array-reduce.h
include/cspear/core/array-math.h
include/cspear/lib/init.h
include/cspear/lib/math.h
include/cspear/random/init.h
